<div flex layout="column">

  <md-toolbar layout-align="center end">
    <div class="md-toolbar-tools">
      <h2>Protractor Recorder</h2>

      <span class="flex"></span>

      <md-button ng-if="!main.conf.isRecording" style="color: #000" class="md-raised" ng-click="main.createSession()">
        <md-icon style="color: #000" md-svg-icon="play_circle"></md-icon>
        Record
      </md-button>

      <!--<md-button class="md-raised md-warn" ng-click="main.stopRecording()">-->
      <md-button ng-if="main.conf.isRecording" class="md-raised md-warn" ng-click="main.pauseRecording()">
        <md-icon style="color: #FFF" md-svg-icon="pause"></md-icon>
        Pause
      </md-button>

    </div>
  </md-toolbar>

  <md-progress-linear ng-if="main.isLoadingSession" md-mode="indeterminate"></md-progress-linear>

  <div flex layout="row">

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">

      <div layout="column" layout-padding>
        <md-input-container class="md-block">
          <label>Base URL</label>
          <input ng-model="main.url" type="text" placeholder="Url">
        </md-input-container>
      </div>
      <md-list>
        <md-list-item ng-click="main.openConf()" aria-label="Conf">
          <p>Conf.js</p>
        </md-list-item>
      </md-list>
      <div ng-repeat="describe in main.describes">
        <md-subheader class="md-no-sticky">
          {{ describe.string }}
        </md-subheader>
        <md-divider></md-divider>
        <md-list>
          <md-list-item ng-click="main.setSpec(spec, false)" ng-repeat="spec in describe.specs">
            <p>{{ spec.string ? spec.string : 'Untitled Spec' }}</p>
            <md-icon ng-click="main.removeSpec($index)" md-svg-icon="delete"></md-icon>
          </md-list-item>
        </md-list>
      </div>
      <span flex></span>

      <md-subheader class="md-no-sticky">Drivers</md-subheader>
      <md-divider></md-divider>
      <md-list>
        <md-list-item ng-click="main.setSpec(spec)" ng-repeat="capability in main.capabilities | orderBy: 'driver'">
          <img ng-src="/assets/images/{{ capability.driver }}.png" style="width:30px;margin-right: 10px">
          <p>{{ capability.driver }}</p>
          <md-checkbox ng-change="main.setCapabilities(capability)" class="md-secondary" ng-model="capability.checked"></md-checkbox>
        </md-list-item>
      </md-list>

      <md-divider></md-divider>
      <div row="column">
        <md-list>
          <md-list-item ng-click="openSettings()" aria-label="Settings">
            <md-icon md-svg-icon="settings"></md-icon>
            <p>Settings</p>
          </md-list-item>
        </md-list>
      </div>

    </md-sidenav>

    <div flex layout-padding layout="column">
      <md-content md-scroll-y class="flex layout-column">
        {{ vm.session.id }}
        <div ng-if="!main.showConf">


          <md-input-container class="md-block">
            <label>Describe</label>
            <input type="text" ng-model="main.describe.string">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Spec</label>
            <input type="text" ng-model="main.spec.string" placeholder="Untitled spec">
          </md-input-container>
        </div>
        <div ng-if="main.showConf">
          <h2>Conf.js</h2>
          <md-input-container class="md-block">
            <label>Selenium Address</label>
            <input type="text" ng-model="main.conf.seleniumAddress" placeholder="Selenium url">
          </md-input-container>

          <md-input-container class="md-block">
            <md-checkbox aria-label="Jasmine" ng-model="main.conf.jasmine">Framework Jasmine 2</md-checkbox>
          </md-input-container>

          <md-input-container class="md-block">
            <md-checkbox aria-label="Login page" ng-model="main.conf.login">Login (Wait for url change)</md-checkbox>
          </md-input-container>

        </div>
          <div layout="row" layout-align="center start" flex>

            <md-whiteframe layout-margin layout="column" flex class="md-whiteframe-1dp">
              <table class="table table-hover table-mc-light-blue ng-scope">
                <thead>
                <tr>
                  <th>
                    <md-checkbox ng-model="all" aria-label="Checkbox 1">
                    </md-checkbox>
                  </th>
                  <th>Action</th>
                  <th>Type</th>
                  <th>Locators</th>
                  <th>Value</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="action in main.spec.actions track by $index">
                  <td>
                    <md-checkbox ng-model="action.status" aria-label="Checkbox $index"></md-checkbox>
                  </td>
                  <td><b>{{ action.action }}</b></td>
                  <td>{{ action.type }}</td>
                  <td>
                    <md-input-container ng-if="action.locators.length > 1" style="padding-bottom: 5px;" md-no-float
                                        class="md-block">
                      <md-select aria-label="Locator {{ locator.value }}" ng-model="action.locator.value">
                        <md-option ng-repeat="locator in action.locators" value="{{locator.value}}">
                          {{ locator.type }} - {{ locator.value }}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    <span ng-if="action.locators.length == 1">{{ action.locators[0].type }} - {{ action.locators[0].value }}</span>
                  </td>
                  <td>
                    <md-input-container style="padding-bottom: 5px;" md-no-float class="md-block">
                      <input type="text" ng-model="action.value" placeholder="Value">
                    </md-input-container>
                  </td>
                  <td>
                    <md-button aria-label="Delete action" ng-click="main.removeAction($index)">
                      <md-icon md-svg-icon="close"></md-icon>
                    </md-button>
                  </td>
                </tr>
                </tbody>
              </table>
            </md-whiteframe>
          </div>



        <!--<md-button ng-click="main.newDescribe()">New Describe</md-button>-->

        <!--<md-button ng-click="main.addSpec()">Add Spec</md-button>-->

        <!--<md-button ng-click="main.createSession()">Create Session</md-button>-->

        <!--<md-button ng-click="main.setSessionUrl()">Start Session</md-button>-->

        <!--<md-button ng-click="main.getSessionUrl()">Session Url</md-button>-->

        <!--<md-button ng-click="main.deleteSession()">Delete Session</md-button>-->

        <md-button ng-click="main.exportProtractor()">Export Protractor</md-button>

        <md-button ng-click="main.runTest()">Run Test</md-button>

        <!--<div style="display: none" id="source">teste</div>-->

        <!--<span ng-repeat="line in main.lines">
          {{ line }};
        </span>-->

      </md-content>
      <md-fab-speed-dial ng-hide="main.hidden" md-direction="up" md-open="main.isOpen"
                         class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': main.hover }"
                         ng-mouseenter="main.isOpen=true" ng-mouseleave="main.isOpen=false">
        <md-fab-trigger>
          <md-button aria-label="menu" ng-click="main.addSpec()" class="md-fab md-warn">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">Add Spec</md-tooltip>
            <md-icon md-svg-icon="add" aria-label="menu"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="Add Describe" class="md-fab md-raised md-mini"
                     ng-click="main.addDescribe()">
            <md-tooltip md-direction="left" md-visible="main.tooltipVisible"
                        md-autohide="false">
              New Describe
            </md-tooltip>
            <md-icon style="color: #000" md-svg-icon="list" aria-label="Describe"></md-icon>
          </md-button>
          <md-button aria-label="Add Config" class="md-fab md-raised md-mini"
                     ng-click="main.addConfig()">
            <md-tooltip md-direction="left" md-visible="main.tooltipVisible"
                        md-autohide="false">
              Add Config
            </md-tooltip>
            <md-icon style="color: #000" md-svg-icon="settings" aria-label="Config"></md-icon>
          </md-button>

        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
  </div>
</div>